{
  "API": "",
  "CaseCode": "Off",

 "Dependencies": [
    {
      "ProjectSpace": "#.HTML",
      "URL": "https://github.com/the-carlisle-group/HTML",
      "Alias":"H",
      "Inject":2,
      "Version": "0.0.1"
    }
  ],

  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "",
  "OnBuild": "",
  "ProjectSpace": "#.ToolOfThought",
  "StartUp": "",
  "URL": "https://github.com/PaulMansour/ToolOfThough",
  "Version": "0.0.0"
}
